/**/
body{
    padding-top: 100px;
}
.art-item {
    background-color: rgb(220, 220, 220);
    border-radius: .5rem;
    margin-bottom: 1rem;
    cursor: pointer;
  } 
  aside{
    background-image: linear-gradient(rgb(42, 180, 204), rgb(2, 19, 46)); ;
 }